step1/*.zip
.idea/dbnavigator.xml
.idea/misc.xml
.idea/oracle-12c-docker.iml
.idea/vcs.xml
.idea/workspace.xml
step0/database/*
step0/*.zip
.idea/codeStyleSettings.xml
ibso/step0/linuxamd64_12102_database_1of2.zip
ibso/step0/linuxamd64_12102_database_2of2.zip
